body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #1c1c1c;
}

header {
  background-color: #1f1660;
  color: white;
  padding: 20px 20px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.top-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  position: relative;
}

.top-nav a:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: white;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 5px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search button {
  padding: 5px 10px;
  background-color: #ddd;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.container {
  display: flex;
  height: calc(100vh - 70px);
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #2a1d83;
  color: white;
  padding: 20px;
}

.menu-section {
  margin-bottom: 30px;
}

.menu-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar details {
  margin-bottom: 20px;
}

.sidebar summary {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
  color: #fff;
}


.sidebar ul li {
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
  color: #ddd;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  list-style: none;
  margin: 10px 0 0 15px;
}

.sidebar li {
  font-size: 14px;
  margin: 8px 0;
  cursor: pointer;
}

main {
  flex-grow: 1;
  padding: 40px;
  background-color: white;
}

main h2 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #1f1660;
  margin-bottom: 30px;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-top: 40px;
}

.card {
  aspect-ratio: 1 / 1;        /* Makes it a square */
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  background-color: #1976d2;
}
